
.player {
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,.7);
    //background-color: transparent;
    background-color: rgba(255,255,255, 1);
    //background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2196f3), color-stop(40%,#eee), color-stop(60%,#eee), color-stop(100%,#2196f3));
    //background-image: -webkit-linear-gradient(top, rgb(135,206,250) 0%, rgba(186,85,211,.9) 50%, rgb(135,206,250) 100%);
    background-image: -webkit-linear-gradient(top, rgba(100,100,100, .6) 0%, rgb(255,255,255) 50%, rgba(50,50,50, .8) 80%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 110;
    overflow: hidden;
    &-bg {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: blur(30px);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    &-main {
        width: 100%;
        height: 100vw;
        position: relative;
        z-index: 1;
        .pic {
            width: 50%;
            height: 50vw;
            margin: 0 auto;
            position: relative;
            top: 50px;
            &:before, &:after, &-bg {
                content: " ";
                width: 150%;
                height: 150%;
                position: absolute;
                left: -25%;
                right: 0;
                top: -25%;
                bottom: 0;
                z-index: 2;
            }
            &-bg {
                z-index: -1;
                border-radius: 50%;
                background-color: rgba(255,255,255, .1);
                border: 1px solid rgba(255,255,255, .2);
            }
            &-img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .change {
            -webkit-animation: change 8s linear infinite;
            animation: change 8s linear infinite;
        }
    }
    &-ctrl {
        width: 100%;
        padding: 10px 0 15px;
        position: fixed;
        bottom: 0;
        .ctrl-top {
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 1rem;
            .t-item {
                width: 20%;
                position: relative;
                i {
                    font-size: 2rem;
                }
                .volume-slider {
                    width: 30vw;
                    position: absolute;
                    left: -5vw;
                    top: -30px;
                }
            }
        }
        .time {
            display: flex;
            height: 30px;
            .progress-slider {
                margin-top: -1px;
            }
            span {
                display: inline-block;
                width: 80px;
                text-align: center;
            }
        }
        .ctrl-bottom {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            .b-item {
                width: 20%;
                i {
                    display: inline-block;
                }
            }
            .prev {
                text-align: right;
            }
            .next {
                text-align: left;
            }

        }
    }

    .navbar {
        color: #fff;
        background-color: transparent;
        background-color: rgba(186,85,211, .1);
        //background-image: -webkit-linear-gradient(top, rgba(218,112,214, .2) 0%, rgba(255,255,255, .05) 100%);
        //background-image: -webkit-linear-gradient(top, rgb(135,206,250) 0%, rgba(186,85,211,.9) 50%, rgb(135,206,250) 100%);
        .title {
            line-height: 20px;
            margin-left: -12px;
            margin-right: -12px;
            p {
                font-size: 1.05rem;
                margin: 0;
            }
            span {
                color: rgba(255,255,255,.6);
                font-size: .8rem;
            }
        }
    }
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} { @content; }
    @-moz-keyframes #{$animationName} { @content; }
    @-o-keyframes #{$animationName} { @content; }
    @keyframes #{$animationName} { @content; }
}

@include keyframes(change) {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
